/* CSS Variables. More info: 
https://www.youtube.com/watch?v=5wLrz_zUwoU */

:root{
	--nav-clr-background: orange;
	--btn-clr-background: pink;
	--btn-clr: red;
	--active-clr: green;
	--clr-highlight: blue;
}

/* Changed all containers. Info about border-box: 
https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Body takes up full page*/

* {
	margin: 0;
	padding: 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  width: 100%;
  height: 100vh;
	text-align: center;
  }

/* Use on parent container to align child containers*/

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

/* REFERNCES */

.button{
	background-color: var(--btn-clr-background);
	border-radius: 15px;
	padding: 10px;
}

.links{

}

.active{
	color: var(--active-clr)!important;
	border-bottom: 2px var(--active-clr) solid;
}

.hover:hover{
	color: var(--clr-highlight);
	border-bottom: 2px var(--active-clr) solid;
	transition: all 0.1s ease-in;
}

/* Logo */
.logo{
	height: 80%;
	width: 10vw;
	background-image: url(../logo/preview.png);
	background-position: center;
	background-size: cover;
}

/* NavBar */
nav{
	background-color: var(--nav-clr-background);
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navLinks{
	display: flex;
}

.navLinks a,li{
	text-decoration: none;
	list-style-type: none;
}

.navLink{
	padding: 10px;
	color: var(--btn-clr);
	margin: 10px;
	transition: all 0.4s ease-out;
}

.donate{
	border: none!important;
}

/* Footer */
footer{
	background-color: var(--nav-clr-background);
	height: 10vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.footerIcons{
	display: flex;
}

.footerLinks a,li{
	text-decoration: none;
	list-style-type: none;
	color: var(--btn-clr);
}

.footerIcons i{
	margin: 4px;
	color: var(--clr-highlight);
}
